<div class="container">
    <% if @message %>
      <%= @message %>
    <% end %>
    <br>
    <br>
    <%= @card.question %> : <%= @card.answer %>
    <br>
    <br>
    <a href="/deck/question">Next</a>
    <br>
    <br>
    <a href="/user/home">Quit</a>
</div>
