<div class="container">

  <p><%= @card.question %></p>
  <form action="/deck/<%= session[:deck_id] %>" method="POST">
    <input type="hidden" name="card_id" value="<%= @card.id %>">
    <input type="text" name="user_guess" placeholder="Guess">
    <input type="submit" value="Submit">
  </form>

</div>
