<h3>Welcome back, <%= @user.name.capitalize %>!</h3>

<h4>Would you like to take a new quiz?</h4>

<p>Here are the available decks:</p>

<% @decks.each do |deck| %>
	<form action="/deck/<%= deck.id %>" method="GET">
	  <h3><%= deck.name %></h3>
	  <input type="submit" value="Take this quiz!"/>
	</form>
<% end %>

<form action="/user/logout" method="GET">
  <input type="submit" value="Log out">
</form>
