<h1> Login </h1>

<form action="/user/authenticate" method="POST">
  <input name="user[name]" placeholder="Name">
  <input type="password" name="user[password]" placeholder="Password">
  <input type="submit" value="Login">
</form>

<form action="/user/new" method="GET">
  <input type="submit" value="Create Account">
</form>