<form action="/user/new" method="POST">
  <input name="user[name]" placeholder="Your Name">
  <input name="user[password]" placeholder="Password">
  <input type="submit" value="Create your new account!">
</form>